body{
	background-color: #FFC;
}
.header{
	background-color: #669;
	color: #FFF;
}
.header a, .nav a{
	display: inline-block;
	width: 160px;
	text-decoration: none;
	text-align: center;
	font: 15px cursive;
	color: #FFF;
	letter-spacing: 1px;
}
.header li, .nav li{
	margin-left: -40px;
}
.header > .nav1 > li{
	display: inline-block;
	position: relative;
	margin: 0px 10px;
	padding: 10px 0px;
	vertical-align: top;
	background-color: #39C;
}
.header > .nav1 > li > .nav2{
	list-style: none;
	position: absolute;
	visibility: hidden;
	background-color: #66F;
	text-align: center;
}
.nav{
	position: fixed;
	top: 30%;right: 50px;
}
.nav > .nav1 > li{
	display: block;
	position: relative;
	padding: 10px 0px;
	background-color: #39C;
	text-align: center;
}
.nav > .nav1 > li > .nav2{
	list-style: none;
	position: absolute;
	visibility: hidden;
	margin: -30px -160px;
	background-color: #66F;
	text-align: center;
}
.nav1 > li:hover > .nav2{
	visibility: visible;
}
.nav1 > li:hover{
	background-color: #66F;
}
.nav2 > li:hover{
	background-color: #39C;
	border-bottom: 1px solid #CCC;
	font-size: 25px;
}
h2{
	background-color: #669;
	color: #FFF;
	border: 2px solid #AAA;
	border-left: none;
	border-right: none;

	font-size: 40px;
}
h3{
	background-color: #09C;
	color: #FFF;
	border: 2px solid #CCC;
	border-left: none;
	border-right: none;
	text-align: center;
	font-size: 30px;
}